<nav class="navbar navbar-expand-lg navbar-dark site-navbar">
    <div class="container nav-inner">
        <a class="navbar-brand site-brand" href="{{ url_for('home') }}">
            <span class="brand-icon">⌂</span>
            <span>Project 1</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-4">
                <li class="nav-item">
                    <a class="nav-link site-nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link site-nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link site-nav-link" href="{{ url_for('create_property') }}">New Property</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link site-nav-link" href="{{ url_for('properties') }}">Properties</a>
                </li>
            </ul>
        </div>
    </div>
</nav>